/**  颜色集合  **/
:root {
  --LIST_ITEM_BG_HOVER: rgba(0, 0, 0, 0.05);
  --HOVER_BG: #f3f3f3;
  --MAIN_THEME_COLOR: #00785a;
  --MAIN_BG: #fff;
  --SEC_BG: #f2f2f2;
  --MAIN_TEXT: rgba(0, 0, 0, 0.8);
  --TEXT_DISABLE: rgba(0, 0, 0, 0.25);
  --TEXT_ACTIVE: rgba(255, 255, 255, 0.8);
  --TEXT_TITLE: rgba(0, 0, 0, 0.8);
  --TEXT_TITLE_SEC: rgba(0, 0, 0, 0.45);
  --DISABLE_BG: rgba(0, 0, 0, 0.15);
  --BORDER: rgba(0, 0, 0, 0.15);
  --DIVIDER: rgba(0, 0, 0, 0.05);
  --NAVBAR_BG: #004132;
  --NAVBAR_TEXT: #fff;
  --NAVBAR_TEXT_DISABLE: rgba(255, 255, 255, 0.25);
  --NAVBAR_BORDER_BOTTOM: #004132;
  --NAVBAR_BTN_BG: rgba(255, 255, 255, 0.25);
  --NAVBAR_BTN_BG_HOVER: rgba(255, 255, 255, 0.35);
  --NAVBAR_BTN_MORE_BG: rgba(255, 255, 255, 0.15);
  --NAVBAR_BTN_DISABLE_BG: rgba(255, 255, 255, 0.05);
  --SIDEBAR_BG: #fafafa;
  --SIDEBAR_BG_ACTIVE: #00785a;
  --SIDEBAR_BG_HOVER: #00785acc;
  --SIDEBAR_TEXT: var(--MAIN_TEXT);
  --SIDEBAR_TEXT_ACTIVE: var(--TEXT_ACTIVE);
  --FOOTER_BG: #fff;
  --FOOTER_TEXT: var(--MAIN_TEXT);
  --BTN_TEXT: var(--TEXT_ACTIVE);
  --BTN_TEXT_RED: #ff3c32;
  --BTN_TEXT_BLUE: #2878ff;
  --BTN_PRIMARY_TEXT: var(--BTN_TEXT);
  --BTN_PRIMARY_TEXT_HOVER: var(--BTN_TEXT);
  --BTN_PRIMARY_BG: var(--GREEN_NORMAL);
  --BTN_PRIMARY_BG_HOVER: var(--GREEN_LIGHT);
  --BTN_PRIMARY_MORE_BG: var(--GREEN_DEEPER);
  --BTN_PRIMARY_MORE_BG_HOVER: var(--GREEN_DEEP);
  --BTN_PRIMARY_BORDER: var(--GREEN_NORMAL);
  --BTN_PRIMARY_BORDER_HOVER: var(--GREEN_NORMAL);
  --BTN_SEC_TEXT: var(--MAIN_TEXT);
  --BTN_SEC_TEXT_HOVER: var(--MAIN_TEXT);
  --BTN_SEC_BG: var(--MAIN_BG);
  --BTN_SEC_BG_HOVER: var(--MAIN_BG);
  --BTN_SEC_MORE_BG: var(--MAIN_BG);
  --BTN_SEC_MORE_BG_HOVER: var(--MAIN_BG);
  --BTN_SEC_BORDER: var(--BLUE_NORMAL);
  --BTN_SEC_BORDER_HOVER: var(--BLUE_NORMAL);
  --BTN_DANGER_TEXT: var(--BTN_TEXT);
  --BTN_DANGER_TEXT_HOVER: var(--BTN_TEXT);
  --BTN_DANGER_BG: var(--RED_NORMAL);
  --BTN_DANGER_BG_HOVER: var(--RED_LIGHT);
  --BTN_DANGER_MORE_BG: var(--RED_DEEPER);
  --BTN_DANGER_MORE_BG_HOVER: var(--RED_DEEP);
  --BTN_DANGER_BORDER: var(--RED_NORMAL);
  --BTN_DANGER_BORDER_HOVER: var(--RED_NORMAL);
  --BTN_LIGHT_TEXT: var(--BLUE_NORMAL);
  --BTN_LIGHT_TEXT_HOVER: var(--BLUE_LIGHT);
  --BTN_LIGHT_BG: transparent;
  --BTN_LIGHT_BG_HOVER: transparent;
  --BTN_LIGHT_BORDER: transparent;
  --BTN_LIGHT_BORDER_HOVER: transparent;
  --TABLE_HEADER_BG: #f8f8f8;
  --TABLE_HEADER_HOVER_BG: #f2f2f2;
  --TABLE_ROW_HOVER_BG: rgba(0, 0, 0, 0.05);
  --TABLE_BG_ACTIVE: rgba(0, 0, 0, 0.05);
  --INPUT_BG: #fff;
  --MODAL_BG: #fff;
  --MODAL_SHADOW: 0px 10px 15px 5px rgba(0, 0, 0, 0.15);
  --MODAL_MASK: rgba(0, 0, 0, 0.35);
  --COMPONENT_BG: #fff;
  --COMPONENT_SHADOW: 0px 3px 7px -2px rgba(0, 0, 0, 0.1);
  --ECHART_BG: #fff;
  --ECHART_SHADOW: 0px 3px 7px -2px rgba(0, 0, 0, 0.1);
  --BUTTON_FONT_SIZE: 14px;
  --GLOBAL_FONT_SIZE: 14px;
  --GLOBAL_PLATE_PADDING: 15px;
  --DEFAULT_BORDER_RADIUS: 3px;
  --GREEN_NORMAL: #00785a;
  --GREEN_LIGHT: #0aa07a;
  --GREEN_DEEP: #05654d;
  --GREEN_DEEPER: #085542;
  --BLUE_NORMAL: #2878ff;
  --BLUE_LIGHT: #498cff;
  --BLUE_DEEP: #2a6cde;
  --BLUE_DEEPER: #265fc2;
  --RED_NORMAL: #ff3c32;
  --RED_LIGHT: #ff625a;
  --RED_DEEP: #e6362d;
  --RED_DEEPER: #ce3129;
  --SCROLL_BAR_BG: rgba(0, 0, 0, 0.1);
  --SCROLL_BAR: rgba(255, 255, 255, 0.3);
  --GREEN_TAG_BG: #0aa07a;
  --GREEN_TAG_TEXT: rgba(255, 255, 255, 0.8);
  --BLUE_TAG_BG: #498cff;
  --BLUE_TAG_TEXT: rgba(255, 255, 255, 0.8);
  --RED_TAG_BG: #ff625a;
  --RED_TAG_TEXT: rgba(255, 255, 255, 0.8);
  --WHITE_TAG_BG: #f2f2f2;
  --WHITE_TAG_TEXT: rgba(0, 0, 0, 0.8);
  --BLACK_TAG_BG: #212121;
  --BLACK_TAG_TEXT: rgba(255, 255, 255, 0.8);
  --PURPLE_TAG_BG: #9c27b0;
  --PURPLE_TAG_TEXT: rgba(255, 255, 255, 0.8);
  --YELLOW_TAG_BG: #ff8f00;
  --YELLOW_TAG_TEXT: rgba(255, 255, 255, 0.8);
  --ORANGE_TAG_BG: #f50;
  --ORANGE_TAG_TEXT: rgba(255, 255, 255, 0.8);
}
